/*ELEMENTOS*/
body {
  color: #40514E;
  font-family: 'Merriweather', serif;
  margin: 0;
  text-align: center;
}

h1 {
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  /*100% equivale a 16px
   Si queremos un aumento de 90 px se aplica lo siguiente
   90 /16 = 562.5%* equivalente 1em = 16px*/
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

footer {
  /*No revisadoa*/
  background-color: #66BFBF;
  margin: 5%;
  color: #fff;
}

p {
  line-height: 2;
}

hr {
  background-color: #EAF6F6;
  border-style: none;
  border-top: dotted;
  border-color: grey;
  border-width: 6px;
  margin: 100px auto;
  width: 5%;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

/*CLASSES*/
.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.top-cloud {
  margin-left: 300px;
  position: absolute;
}

.bottom-cloud {
  margin-bottom: 300px;
  position: absolute;
}

.intro {
  width: 30%;
  margin: auto;
}

.title-img {
  float: left;
  height: 10%;
  width: 10%;
}

.title-row {
  margin: 100px auto 100px auto;
  text-align: left;
  width: 50%;
}

.btn {
  background: #11cdd4;
  background: -webkit-gradient(top, #11cdd4, #11999e);
  background: -o-linear-gradient(top, #11cdd4, #11999e);
  background: -moz-linear-gradient(top, #11cdd4, #11999e);
  background: -webkit-linear-gradient(top,  #11cdd4, #11999e);
  background: -ms-linear-gradient(top, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
/*
.btn {
  background: #11cdd4;
  background: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background: -moz-linear-gradient(top, #11cdd4, #11999e);
  background: -ms-linear-gradient(top, #11cdd4, #11999e);
  background: -o-linear-gradient(top, #11cdd4, #11999e);
  background: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}*/

.btn:hover {
  background: #30e3cb;
  background: -webkit-gradient(top, #30e3cb, #2bc4ad);
  background: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background: -webkit-linear-gradient(top,  #30e3cb, #2bc4ad);
  background: -ms-linear-gradient(top, #30e3cb, #2bc4ad);

  text-decoration: none;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
